@font-face {
    font-family: 'Cereal Book';
    font-style: normal;
    font-weight: normal;
    src: url('https://res.cloudinary.com/strongholdz/raw/upload/v1599998759/AirbnbCerealBook_cf6yqz.woff') format('woff');
    font-display: swap;
}

body {
  font-family: Cereal Book;
}

/* sidebar post */
.figure-new-1 { /* conflict di homepage */
    width: 100% !important;
}