body {
  font-family: "Cereal Book" !important;
  font-size: 18px;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Cereal Bold" !important;
}

.post_item h1 {
    font-size: 36px;
    line-height: 1.2;
    margin-bottom: 15px;
}